body{
    display: flex;
    flex-direction: column;
    background-color: #a6f6af;
    align-items: center;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
}

#principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

#cellimage {
    width: 100x;
    height: auto;
}

#availableonbtns {
    flex-direction: column;
    padding-left: 100px;
}

.availableon {
    margin-top: 20px;
    flex-direction: column;
    align-items: right;
    width: 200px;
    height: 65px;
    
}

#logueaqui {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 200px;
    height: 65px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

#footerLoginPage {
    background-color: #2c171c;
    padding: 10px;
    text-align: center;
    color: #fff;
    flex-shrink: 0; 
    width: 100%;
}